{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
          <h2 class="account-heading">{{ current_user.username }}</h2>
          <p class="text-secondary">{{ current_user.email }}</p>
        </div>
     </div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">회원 정보</legend>
                    <div class="form-group">
                       {{ form.username.label(class="form-control-label") }}
                       <!-- 유저이름이 잘못 입력되었을 경우에 오류 메세지 출력 -->
                       {% if form.username.errors %}
                         {{ form.username(class="form-control form-control-lg is-invalid") }}
                         <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span> 너무 짧거나 이미 있는 별명이에요. </span>
                            {% endfor %}
                         </div>
                       {% else %}
                          {{ form.username(class="form-control form-control-lg") }}
                       {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                           {% for error in form.email.errors %}
                               <span> 이미 있는 이메일이에요. 다른 이메일로 시도해주세요. </span>
                           {% endfor %}
                        </div>
                        {% else %}
                          {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.picture.label() }}
                        {{ form.picture(class="form-control-file") }}
                        {% if form.picture.errors %}
                            {% for error in form.picture.errors %}
                                <span class="text-danger"> jpg와 png파일만 지원하고 있어요.</span>
                            {% endfor %}
                        {% endif %}
                    </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}      